@font-face {
font-family: 'Futura Book';
src:
url('../fonts/futura/FuturaBookC.woff') format('woff'),
url('../fonts/futura/FuturaBookC.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Futura Book';
src:
url('../fonts/futura/FuturaBookC.woff') format('woff'),
url('../fonts/futura/FuturaBookC.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}
