.container
  width: 88%
  max-width: 1240px
  margin: auto

.row
  display: flex
  align-items: flex-start
  justify-content: space-between

.col
  &-30
    flex-basis: 31.7%
  &-35
    flex-basis: 35%
    text-align: left
    overflow: hidden
  &-45
    max-width: 45%
  &-55
    max-width: 55%
  &-65
    flex-basis: 65%

