.button
  padding: 11px 24px
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-size: 0.928rem
  font-family: "Futura Demi", sans-serif
  font-weight: normal
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    border: 1px solid $primary
    color: $light
  &--outline
    background-color: transparent
    border: 1px solid $light
    color: $light

.label
  font-size: 1.071rem
  &--light
    color: rgba($light, 0.5)

.input
  font-size: 1.285714rem
  color: $light
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)
  background: transparent
  padding: 0.5rem 0
  &--light
    &::placeholder
      color: $light


.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked + .policy__label
      &:before
        background: $primary url("../img/modal/checked.svg") no-repeat center / 10px
  &__label
    display: flex
    font-size: 1.142rem
    align-items: center
    &:before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
      margin-right: 0.64rem
    &--center
      justify-content: center



.scrollToTop
  position: fixed
  display: none
  bottom: 25px
  right: 25px
  width: 30px
  height: 30px
  background: $primary url("../img/arrow-up.svg") no-repeat center
  border: 2px solid $primary
  border-radius: 50%
  transition: box-shadow 0.3s
  z-index: 10
  &:hover
    background: transparent url("../img/arrow-up-primary.svg") no-repeat center
    box-shadow: 0 5px 15px rgba($primary, 0.7)
    text-decoration: none

.description
  text-align: center
  font-family: $futuraBook
  font-size: 20px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: normal
  color: #363636
  &--light
    color: $light
  &--dark
    color: $dark



div
 &.invalid
   padding-top: 1rem
   color: tomato
   border-bottom: none

.invalid
  border-bottom: 1px solid red



