
//MEDIA WIDTH

@media screen and (max-width: 1210px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .hero
    &__content
      margin-left: 6rem

@media screen and (max-width: 992px)
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

@media screen and (max-width: 768px)
  .row
    flex-direction: column
    align-items: center
  .types, .design
    &__card
      margin-bottom: 4.29rem
  .card
    &__text
      margin-left: 0

@media screen and (max-width: 576px)
  .contacts
    &__phone
      font-size: 12px
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .hero
    padding-top: 60px
    &__scroll-down
      display: none
    &__content

      max-width: 470px
    &__text
      font-size: 18px
      margin-bottom: 2.28rem
    &__button
      min-width: 100%
      display: block
      margin-bottom: 2.1rem
      font-size: 13px
      &--outline
        font-size: 13px
  .title
    max-width: 30rem
    font-size: 23px

@media screen and (max-width: 375px)
  .container
    width: 95%
    max-width: 338.6px
    margin: auto
  .hero
    max-height: 533px
    padding-top: 57px
    &__content
      padding-top: 50px
      width: 100%
    &__text
      margin-bottom: 2.6rem
      max-width: 321px
      font-size: 18px
      width: 321px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 135.84%
    &__button
      min-width: 100%
      font-size: 13px
      &--outline
        font-size: 13px
  .title
    font-size: 23px
    font-weight: normal
  .contacts
    &__phone
      font-size: 12px
  .section-title
    &__heading
      font-size: 22px
  .card
    &__text
      margin-top: -12.03rem
      margin-bottom: 5.79rem
      padding: 1.79rem 2.54rem
      max-width: 270px
    &__title
      font-size: 15px
      margin-bottom: 0.8rem
    &__list
      font-size: 13px
      line-height: 1.7
      &--full
        max-height: 153px
        overflow: hidden
        text-overflow: clip
        white-space: nowrap
    &__pricetag
      font-size: 15px
      min-width: 190.4px
      min-height: 40px
      bottom: -0.9rem
      padding: 0.8rem 2.4rem
  .types
    &__section-title
      margin-bottom: 3.31rem
  .design
    &__description
      font-size: 15px
      line-height: 1.36
      max-width: 303px
      margin-bottom: 2.9rem





//HEIGHT
@media screen and (max-height: 600px)
  .hero
    &__scroll-down
      display: none

//HOVER EFFECTS APPEAR
@media screen and (min-width: 992px)
  .nav
    &__item
      transition: color 0.2s
      &:hover
        color: $primary

  .logo
    transition: 0.3s
    &:hover
      text-shadow: 0 5px 20px rgba($primary, 0.9)
      cursor: pointer

  .contacts
    &__phone
      transition: text-shadow 0.3s
      &:hover
        text-shadow: 0 5px 20px rgba($primary, 0.9)

  .button
    &:hover
      cursor: pointer
    &--primary
      transition: box-shadow 0.3s
      box-shadow: 0 5px 15px rgba($primary, 0.5)
      &:hover
        box-shadow: none
    &--outline
      transition: box-shadow 0.3s
      &:hover
        box-shadow: 0 5px 15px rgba($primary, 0.5)
        color: $primary
        border: 1px solid $primary
  .hero
    &__scroll-down
      transition: text-shadow 0.3s
      &:hover
        color: $primary
        text-shadow: 0 5px 20px rgba($primary, 0.9)
    &__link
      transition: text-shadow 0.3s
      &:hover
        text-shadow: 0 5px 20px rgba($primary, 0.9)
        cursor: pointer
  .instagram
    &__link
      transition: text-shadow 0.3s
      &:hover
        text-shadow: 0 5px 20px rgba($primary, 0.9)