
//MEDIA WIDTH

@media screen and (max-width: 1250px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .hero
    &__content
      margin-left: 6rem
  .design
    &__pricetag
      text-align: left
      padding: 17.8px 0 13px 33.3px

@media screen and (max-width: 992px)
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .row
    flex-direction: column
    align-items: center
  .design
    background: $dark
    &__description
      max-width: 35.21rem
      color: $light
    &__section-title
      color: $light
    &__card
      position: relative
      &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba($dark, 0.0)

  .card
    &__pricetag
      min-width: 190.4px
      min-height: 40px
      padding: 0.8rem 2.4rem
    &__text
      margin-bottom: 6.89rem



@media screen and (max-width: 768px)
  .row
    flex-direction: column
    align-items: center
  .types, .design
    &__card
      margin-bottom: 4.29rem
  .card
    &__text
      margin-left: 0

@media screen and (max-width: 576px)
  .container
    max-width: 90%
  .contacts
    &__phone
      font-size: 12px
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .hero
    padding-top: 60px
    &__scroll-down
      display: none
    &__content
      margin: auto
      max-width: 90%
    &__text
      font-size: 18px
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 100%
      margin-bottom: 2.1rem
      &--outline
        font-size: 13px
  .title
    max-width: 30rem
    font-size: 23px
  .scrollToTop
    opacity: 0
    visibility: hidden

@media screen and (max-width: 375px)
  .container
    width: 90%
    max-width: 375px
  .hero
    padding-top: 56px
    &__content
      max-width: 100%
      margin: 0
    &__text
      margin-bottom: 2.6rem
      max-width: 321px
      font-size: 18px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 135.84%
    &__button
      min-width: 100%
      font-size: 13px
      &--outline
        font-size: 13px
  .title
    font-size: 23px
    font-weight: normal
  .contacts
    &__phone
      font-size: 12px
  .section-title
    &__heading
      font-size: 22px
  .card
    &__text
      margin-top: -12.03rem
      margin-bottom: 5.79rem
      padding: 1.79rem 2.54rem
      max-width: 270px
    &__title
      font-size: 15px
      margin-bottom: 0.8rem
    &__list
      font-size: 13px
      line-height: 1.7
    &__pricetag
      font-size: 15px
      min-width: 190.4px
      min-height: 40px
      bottom: -0.9rem
      padding: 0.8rem 2.4rem
  .types
    &__section-title
      margin-bottom: 3.31rem
  .design
    &__description
      font-size: 15px
      line-height: 1.36
      max-width: 303px
      margin-bottom: 2.9rem


//HEIGHT
@media screen and (max-height: 615px)
  .hero
    &__scroll-down
      display: none

//HOVER EFFECTS APPEAR
@media screen and (min-width: 992px)
  .nav
    &__item
      transition: color 0.2s
      &:hover
        color: $primary
  .logo
    transition: 0.3s
    &:hover
      text-shadow: 0 5px 20px rgba($primary, 0.9)
      cursor: pointer
  .contacts
    &__phone
      transition: text-shadow 0.3s
      &:hover
        text-shadow: 0 5px 20px rgba($primary, 0.9)
  .button
    &--primary
      transition: box-shadow 0.3s
      box-shadow: 0 5px 15px rgba($primary, 0.5)
      &:hover
        box-shadow: none
    &--outline
      transition: box-shadow 0.3s
      &:hover
        box-shadow: 0 5px 15px rgba($primary, 0.5)
        color: $primary
        border: 1px solid $primary
  .hero
    &__scroll-down
      transition: text-shadow 0.3s
      &:hover
        color: $primary
        text-shadow: 0 5px 20px rgba($primary, 0.9)
    &__link
      transition: text-shadow 0.3s
      &:hover
        text-shadow: 0 5px 20px rgba($primary, 0.9)
        cursor: pointer
  .instagram
    &__link
      transition: text-shadow 0.3s
      &:hover
        text-shadow: 0 5px 20px rgba($primary, 0.9)