@media screen and (max-width: 1275px)
  .nav
    &__item
      margin-right: 1rem

@media screen and (max-width: 1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and (max-width: 992px)
  .nav
    display: none
  .logo
    &:hover
      text-shadow: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
    &__scroll-down
      &:hover
        text-shadow: none
        color: $light
  .button
    &--primary
      box-shadow: none
    &--outline
      &:hover
        box-shadow: none
        color: white
        border: 1px solid $light
  .contacts
    &__phone
      &:hover
        text-shadow: none

@media screen and (max-width: 570px)
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
  .title
    font-size: 1.64rem
@media screen and (max-height: 520px)
  .hero
    &__scroll-down
      display: none