*, *::before, *::after
  box-sizing: border-box

html
  font-size: 14px

body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem

img
  max-width: 100%

.section
  padding: 60px 0
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', serif
    &__heading
      font-size: 1.428rem
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
