.clients
  position: relative
  padding-bottom: 30rem
  padding-top: 5.5rem
  &:after
    position: absolute
    content: ""
    width: 100%
    height: 100%
    background-image: url("../img/clients/clients-right.png"), url("../img/clients/clients-left.png")
    background-position: left bottom, right bottom
    background-size: 50%, 50%
    background-repeat: no-repeat
    bottom: 0
    opacity: 0.1
    pointer-events: none
    z-index: -1
  &__description
    margin: 1.714rem auto 2.778rem
    text-align: center
    max-width: 25.71rem
  &-reviews
    display: flex
    justify-content: space-between
    align-items: center

  &__card
    max-width: 26.85rem
    width: 26.85rem
    min-height: auto
    padding: 1.714rem 1.714rem 4.5rem
    background: $light
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04)
    &-head
      display: flex
      justify-content: flex-start
      align-items: center
    &-name
      max-width: 14.28rem
      font-family: $yoseva
      font-size: 1.285rem
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 1.27
      letter-spacing: normal
      color: $black
    &-photo
      border-radius: 50%
      margin-right: 1.714rem
    &-body
      position: relative
      margin-top: 1.65rem
    &-text
      font-family: $futuraBook
      font-size: 15px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 1.8
      letter-spacing: normal
      color: $secondary
    &-info
      position: absolute
      left: -1.707rem
      bottom: -6.428rem
      display: flex
      justify-content: space-between
      align-items: center
    &-volume, &-time
      font-family: $yoseva
      font-size: 1.214rem
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 1.39
      letter-spacing: normal
      color: $light
    &-volume
      display: flex
      align-items: center
      margin-right: 1px
      padding: 10px 20px
      background-color: $primary
      &:before
        content: ''
        width: 33px
        height: 32px
        margin-right: 1.1rem
        background: transparent url("../img/clients/client-volume.svg")
    &-time
      display: flex
      align-items: center
      padding: 10px 20px
      background-color: $primary
      &:before
        content: ''
        width: 32.8px
        height: 32.3px
        margin-right: 1.1rem
        background: transparent url("../img/clients/client-time.svg")










