.design
  background: linear-gradient( $light 50%, $dark 50%)
  &__section-title
    margin-bottom: 1.579rem
  &__description
    margin: auto
    margin-bottom: 3.35rem
    max-width: 52.928rem
    text-align: center
    font-family: 'Futura Book', sans-serif
    font-size: 20px
    line-height: 1.29
    font-weight: normal
    color: #363636
  &__card
    position: relative
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba($dark, 0.3)
  &__pricetag
    text-align: left
    padding: 13.3px 0 13px 33.3px






