.design
  &__section-title
    margin-bottom: 1.579rem
  &__description
    margin: auto
    margin-bottom: 3.5rem
    max-width: 52.928rem
    text-align: center
    font-family: 'Futura Book', sans-serif
    font-size: 20px
    line-height: 1.2
    font-weight: normal
    color: #363636

