.footer
  background: $dark url("../img/footer/footer-bg.jpg") no-repeat center / cover
  padding-top: 3rem
  &__wrap
    position: relative
    background-color: $black
    max-width: 63.07rem
    margin: -19rem auto 3.714rem
    padding: 2.5rem
  &__title
    text-transform: uppercase
    font-family: $yoseva
    font-weight: normal
    font-size: 1.428rem
    text-align: center
    margin-bottom: 3.214rem
  &__form
    margin: auto
    max-width: 37.142rem
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.2rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem
  &__button
    margin: auto
    padding: 1.285rem 4.785rem
  &__policy
    margin-bottom: 3.6rem
    flex-basis: 100%
    &-checkbox
      opacity: 0
      visibility: hidden
      &:checked + .policy__label
        &:before
          background: $primary url("../img/modal/checked.svg") no-repeat center / 10px
  &__menu
    padding: 4.285rem 0
    background-color: $dark
  &__location
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.location
  &__header
    max-width: 37.07rem
    text-align: center
    text-transform: uppercase
    font-family: $yoseva
    font-size: 20px
    font-weight: normal
    font-stretch: normal
    font-style: normal
    line-height: 1.39
    letter-spacing: normal
    color: $primary
  &__socials
    display: flex
    justify-content: center
    align-items: center
  &__icon
    &--wrap
      display: flex
      align-items: center
      justify-content: center
      min-width: 28px
      min-height: 28px
      background-color: $primary
      border-radius: 50%
      flex-basis: 50%
      margin-bottom: 3.09rem
      &:not(:last-child)
        margin-right: 15px
  &__map
    max-width: 100%
    min-width: 66.07rem
    min-height: 33.21rem
    margin-bottom: 5rem

