.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: $dark
  padding: 23px 0
  z-index: 99

.menu
  display: flex
  justify-content: space-between
  align-items: center

.logo
  color: $primary
  text-transform: uppercase
  font-size: 1rem
  font-family: "Futura Demi", sans-serif
  font-weight: normal
  cursor: pointer
  text-decoration: none


.nav
  &__item
    text-decoration: none
    color: $light
    text-transform: uppercase
    margin-right: 2.65rem
    transition: color 0.2s
    line-height: 0.8
    &:hover
      color: $primary

.contacts
  &__phone
    margin-right: 45px
    font-size: 14px
    font-family: "Futura Demi", sans-serif
    font-weight: normal
    color: $primary
    transition: text-shadow 0.3s
    &:hover
      text-shadow: 0 5px 20px rgba($primary, 0.9)
  &__button
    min-width: 160px
    min-height: 37px
    line-height: 37px
    font-size: 13px
    font-weight: normal
    padding: 0 20.5px
