.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  background: $dark url("../img/bg-hero.jpg") no-repeat center / cover
  height: 100vh
  padding-top: 100px
  color: $light
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba($dark, 0.7)
  &__content
    position: relative
    margin-left: 4.28rem
    max-width: 47.85rem
  &__title
    margin-bottom: 1.2rem
  &__text
    font-size: 1.57rem
    max-width: 504px
    line-height: 30px
    margin: 0
    margin-bottom: 3rem
  &__button
    padding: 19px 28px
    margin-right: 18px
  .button--outline
    padding: 18px 45px

  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 86.7px
    height: 100%
  &__scroll-down
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    left: 0
    bottom: 0
    transform: translateY(50%)
    min-width: 17.6rem
    min-height: 6.92rem
    font-family: 'Yeseva One', cursive
    font-size: 0.85rem
    text-transform: uppercase
    text-decoration: none
    line-height: 138.6%
    color: $light
    background: $dark
    &::after
      content: ''
      width: 30px
      height: 30px
      background: url("../img/arrow-down.svg") no-repeat center
      border: 2px solid $primary
      border-radius: 50%
      margin-left: 18px
.instagram
  display: flex
  justify-content: center
  align-items: center
  background: $dark
  &__link
    display: flex
    align-items: center
    text-transform: uppercase
    color: $primary
    text-decoration: none
    transform: rotate(90deg)
    font-family: 'Futura Demi', cursive
    font-size: 1rem
    line-height: 16px
    &:hover
      text-shadow: 0 5px 20px rgba($primary, 0.9)
      cursor: pointer
    &::after
      content: ""
      width: 50px
      height: 1px
      background-color: $primary
      margin-left: 8px
      align-items: center

.title
  font-family: 'Yeseva One', cursive
  text-transform: uppercase
  font-size: 2.857rem
  line-height: 1.33
  &--primary
    color: $primary


