.team
  position: relative
  margin-top: -37rem
  padding-bottom: 0
  &__description
    margin: auto auto 7.314rem
    max-width: 32rem
    line-height: 1.2
    color: $light
  &__title
    margin-bottom: 1rem
    &-img
      margin-bottom: 1.642rem
  &__wrap
    display: flex
    justify-content: space-evenly
    align-items: center
  &__about
    max-width: 40.571rem
    margin: 7.142rem auto auto
    text-align: center
    font-family: $futuraBook
    font-size: 20px
    font-weight: normal
    font-stretch: normal
    font-style: normal
    line-height: 1.7
    letter-spacing: normal
    color: #363636

  &__card
    position: relative
    min-width: 19.428rem
    &-photo
      display: block
    &-info
      position: absolute
      left: 50%
      margin-left: -8.321rem
      bottom: -4rem
      min-width: 16.642rem
      max-height: 9.785rem
      text-align: center
      background-color: $light
    &-name
      margin: 0
      padding: 1.4rem 1.42rem 0.552rem 1.42rem
      font-family: $yoseva
      font-size: 1.285rem
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 1.39
      letter-spacing: normal
      color: #181818
    &-position
      margin: 0 0 0.3rem
      padding: 0 1.42rem 1.214rem 1.42rem
      font-family: $futuraBook
      font-size: 1.285rem
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: normal
      letter-spacing: normal
      color: $secondary
    &-experience
      width: 100%
      margin: 0
      text-transform: uppercase
      background-color: $primary
      padding: 0.828rem 1.642rem 0.928rem 1.642rem
      font-family: $yoseva
      font-size: 0.928rem
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 1.5
      letter-spacing: normal
      color: $light

    &-icon
      &-block
        position: absolute
        margin-top: -35px
        margin-left: -35px
        display: flex
        justify-content: center
        align-items: center
        min-width: 70px
        min-height: 70px
        box-shadow: 0 5px 20px 0 rgba(227, 184, 115, 0.5)
        background-color: $primary
