.steps__col {
  max-width: 35%; }

.steps-slide__text {
  flex-basis: 100%;
  max-width: 100%; }

.steps-slide__heading {
  max-width: 60%;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5; }

.steps-slide__value {
  max-width: 24.071rem;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  color: #ffffff; }
  .steps-slide__value + .steps-slide__value {
    margin-top: 0.8rem; }
  .steps-slide__value--2 {
    max-width: 21rem; }
